page-home {

}
.titleLogo{
    position: relative;
    text-align: center;
    margin-right: 70%;
  // background-image: url('../assets/imgs/HVC.png');
   //position: relative;
    // background-position-x: 10%;
    //background-size: 50%;
    //background-repeat: no-repeat;
    
}
.titleLogo2{
    position: relative;
    text-align: right;
    margin-right: 70%;
}
.pangRelative{
    position: relative;
}
.logo{
    position: relative;
    background-image: url('../assets/imgs/HVC.png');
    //background-position-x: 50%;
    background-repeat: no-repeat;
    // background-position-x: 10%;
     //background-position-y: 100%;
     background-size: 40%;
     background-position: center;
}
.bg{
   background: linear-gradient(to bottom right,  #17EAD8, #6078EA);
}
.listBG{
    background: #f4f4f4;
}
.center{
    text-align: center;
}
.right{
    margin-left: 38%;
   position: relative;
}